<div class="well">
<h1><u><%= @category.name %></u></h1>
    <p><b><%= @category.description %><b></p>

<h3><u>Projects</u></h3>

  <% if @category.projects.any? %>
    <ul>
      <% @category.projects.each do |project| %>
        <li><%= link_to project.name, category_project_path(@category, project) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no projects.</p>
  <% end %>

  <br>
  <% if can? :manage, Category %>
<%= link_to 'Add a Project', new_category_project_path(@category) %> |
<%= link_to 'Edit Category', edit_category_path(@category) %> |
<%= link_to 'Delete Category', category_path(@category), data: { confirm: "Are you sure?", method: "delete"} %>
<% end %>
</div>
